fastapi
uvicorn
python-multipart
torch==1.7.0
torchvision
Pillow
Cmake
opencv-python
pandas
pyyaml
psutil
tqdm
matplotlib
seaborn
numpy == 1.21
gitpython==3.1.30
setuptools==65.5.1
scipy==1.4.1
requests
